<!-- <form action="/signup" method="POST">
  Please enter name: <input type="text" name="user[name]"><br>
  Please enter an email: <input type="text" name="user[email]"><br>
  Please enter a password: <input type="password" name= "user[password]"><br>
  <input type="submit" value="Sign Up">
</form>
 -->
<div id="wrapper">

  <form action="/signup" class="login-form" action="" method="post">

    <div class="header">
    <h1>Sign Up</h1>
    <span>Fill out the form below to Sign-up.</span>
    </div>

    <div class="content">
    <input name="username" type="text" class="input name" placeholder="Name" /><br>
    <input name="email" type="text" class="input email" placeholder="Email" />
    <div class="user-icon"></div>
    <input name="password" type="password" class="input password" placeholder="Password" />
    <div class="pass-icon"></div>
    </div>

    <div class="footer">
    <input type="submit" name="submit" value="Sign in" class="button" />
    </div>

  </form>

</div>
