<div class="container">
  <form action="/signup" method="POST">
    <br>
  Please enter name: <input type="text" name="user[name]"><br>
  Please enter an email: <input type="text" name="user[email]"><br>
  Please enter a password: <input type="text" name= "user[password]"><br>
  <input type="submit" value="Sign Up">
  </form>
</div>
