<div class="container">
  <form action="/" method="POST">
  Please enter an email: <input type="text" name="user[email]"><br>
  Please enter a password: <input type="text" name= "user[password]"><br>
  <input type="submit" value="Sign Up">
  </form>
</div>
