<div class="container">
  <h1> Welcome to the dopest flashcards app</h1>
  <form action="/login" method="GET">
  <input type="submit" value="Login Here">
  </form>
  <br>
  <form action="/signup" method="GET">
  <input type="submit" value="Sign Up Here">
  </form>
</div>
