<nav id="cssmenu"><h1>FLASHCARDS</h1></div>

<div class="container">
  <%= @errors if @errors %>


  <div class="left_column">
    <button id="login">Login Here</button>
    <div id="login_form"><%= erb :'sessions/_login' %></div><br>
  </div>

  <div class="right_column">
    <button id="sign_up">Sign up</button>
    <div id="sign_up_form"><%= erb :'sessions/_sign_up' %></div>
  </div>
</div>
