<nav id="cssmenu">
  <ul>
    <li><a href="/users/<%=session[:user_id]%>">Home</a></li>
    <li><a href="/decks">Decks</a></li>
    <li><a href="/decks/create">Create</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
