<form id="create_deck" action="/decks/create" method="post"><br>
  Title: <input type="text" name="title"><br>
  Category: <input type="text" name="category"><br>
  <input type="submit" value="Create New Deck"><br>
</form>
