<form id="next" action="#" method="get">
  <input type="hidden" name="deckId" value="<%=@deck.id%>">
  <input type="hidden" name="flashcardId" value="<%=@flashcard.id%>">
  <input type="submit" value="Next flashcard">
</form>
