<div class="container">
  <div class="left_column">
    <div class="deck_form"><%= erb :'decks/_create_form' %></div>
    <div class="flashcard_form"><%= erb :'flashcards/_create' %></div>
  </div>

  <div class="right_column">

  </div>
</div>
