<div class="container">
  <h3>Here are all of the flashcard decks</h3>
  <ul>
    <% @decks.each do |deck| %>
      <li><a href="/decks/<%=deck.id%>"><%= deck.title %></a></li>
    <% end %>
  </ul>
</div>
