<%= erb :'users/_navbar' %>

<div class="container" id="decks_home">
  <h3>Here are all of the flashcard decks</h3>
  <div id="all_decks">
    <table>
      <th>Deck</th><th>Category</th>
      <% @decks.each do |deck| %>
        <tr>
          <td><a href="/decks/<%=deck.id%>"><%= deck.title %></a></td>
          <td><%= deck.category.topic %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
