<div class="container">
  <h1><%= @deck.title %></h1>

  <a href="/decks/<%=@deck.id%>"><button id="next">Give me a flashcard!</button></a>

  <div class="card"><%= erb :'flashcards/show' %></div>
</div>
